* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
body {
    background-image: url(./imagens/Landing.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family:'inter', sans-serif;
    line-height: 160%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-top: 32px;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    border: 1px solid;

    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}


section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;


}
section h2 {
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.games-list img {
    width: 150px;
    border-radius: 8px;
    transition: transform .3s;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;
    transition: transform .3s;
}
.stremers-list{
    transition: transform .3s;
}
.stremers-list img:hover{
    transform: scale(1.1);
}
.channel-list img:hover {
    transform: scale(1.1);
}

.games-list img:hover {
    transform: scale(1.1);
}

header div{
    max-width: 100%;
    border-radius: 55%;
    width: 160px;
    padding: 5.2px;
    margin: auto;
    margin-top: 32px;
    display: grid;
    justify-items: center;
    gap: 24px;
    border: 1px solid;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    transition: transform .3s;
}
.photo-header img{
    display: flex;
    justify-items: center;
    border-radius: 50%;
    width: 150px;
    transition: transform .3s;
}

header div img:hover{
    transform: scale(1.1);
}

/*animação*/
header div{
    animation: fromTop .5s 0.2s backwards;
}
.photo-header img  {
    animation: fromTop .5s 0.2s backwards;
}

main section{
    animation: toCard .7s .2s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}
main section:nth-child(3){
    animation-delay: .8s;
}
@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes toCard {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}